# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
out/
.next/
.turbo/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing & Coverage
coverage/
.nyc_output/

# OS Files
.DS_Store
*.pem
Thumbs.db

# Database / Storage Volumes
pgdata/
gitlens_pgdata/
gitlens_redisdata/

# IDE files
.idea/
*.swp
*.swo
