:root {
  /* Colors */
  --color-text: #ffffff;
  --color-text-2: #0000ee;
  --color-text-3: #f5f8ff;
  --color-text-4: #25292e;
  --color-text-5: #000000;
  --color-text-6: #0e76fd;
  --color-local-accent: #09111f;
  --color-text-7: #3c4242;
  --color-text-8: #1b1d1f;
  --color-surface: #1b1c1e;
  --color-text: #ffffff;
  --color-text-2: #0000ee;
  --color-text-3: #f5f8ff;
  --color-text-4: #25292e;
  --color-text-5: #000000;
  --color-text-6: #0e76fd;
  --color-local-accent: #09111f;
  --color-text-7: #3c4242;
  --color-text-8: #1b1d1f;
  --color-surface: #1b1c1e;

  /* Typography */
  --font-type-1-family: SFRounded;
  --font-type-1-size: 16px;
  --font-type-1-weight: 400;
  --font-type-1-line-height: normal;
  --font-type-1-letter-spacing: 0.35px;
  --font-type-2-family: SFRounded;
  --font-type-2-size: 16px;
  --font-type-2-weight: 700;
  --font-type-2-line-height: normal;
  --font-type-3-family: SFRounded;
  --font-type-3-size: 16px;
  --font-type-3-weight: 600;
  --font-type-3-line-height: 21px;
  --font-type-3-letter-spacing: 0.35px;
  --font-type-4-family: Arial;
  --font-type-4-size: 13.3333px;
  --font-type-4-weight: 400;
  --font-type-4-line-height: normal;
  --font-type-5-family: Arial;
  --font-type-5-size: 16px;
  --font-type-5-weight: 400;
  --font-type-5-line-height: normal;

  /* Spacing */
  --spacing-space-1: 6px;
  --spacing-space-2: 5px;
  --spacing-space-3: 4px;
  --spacing-space-4: 12px;
  --spacing-space-5: 1px;
  --spacing-space-6: 48px;
  --spacing-space-7: 16px;
  --spacing-space-8: 40px;
  --spacing-space-9: 128px;
  --spacing-space-10: 24px;

  /* Border Radius */
  --radius-radius-1: 9999px;
  --radius-radius-2: 6px;
  --radius-radius-3: 12px;
  --radius-radius-4: 10px;
  --radius-radius-5: 24px;

}